$color1:#ccd5ae; 
$color2:#b08968; 
$color3:#6b705c ;
$color4:#ffe8d6 ;

/*Separador*/
.separador{
    background-color: $color3;
    height: 5px;
    border: none;
}
.hr{
    height:10rem;
    background-color: $color3;
}