$color1:#9da61b; 
$color2:#e0cf2ebd; 
$color3:#8f82128c ;
$color4:#fcf9f9 ;

/*MedioAmbiente*/
.medioambiente{
    position: relative;
    align-items: center;

    .medioambiente_titulo{
    text-align: center;
    color: $color3;
    }
    .medioambiente_video{
    width: 100%;
    height: 400px;
    position: relative;
    align-content: center;
    background-size: contain;
    background-repeat: no repeat;
    }
    .medioambiente_parrafo{
    color: $color3;
    line-height: 3;
    text-align: center;
    }
    @media screen and (max-width: 480px){ 
     .medioambiente_parrafo{
        line-height: 1;
        font-size: 70%;

     }
       
}
.carousel-item{
   min-height: 10px;
}

/*Mixin*/
@mixin fontstyle {
   color:$color3;
   background-color: $color2;  
}
.medioambiente_titulo{
   font-size: 40px;
   @include fontstyle();
}
.medioambiente_parrafo{
   font-size: 20px;
   @include fontstyle();

}
}


