$color1:#ccd5ae; 
$color2:#b08968; 
$color3:#6b705c ;
$color4:#ffe8d6 ;

$estiloproducto:(
        color:$color4);


/*Productos*/
.bd-highlight{
        border-style: double;
}
.productotexto{
        color:$color3;
       
    }        
    .producto_titulo{
        color:$color3;
    }
    .producto_parrafo{
        color:$color3;
    }              

.bg-light-green{
    background-color: $color4;
    
    .img-fluid{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0;
    width: 90%;
    height: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: double;
    }
    .img-fluid:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

    }   

    @media screen and (max-width: 480px){   
    .productotexto{
        line-height: 1;
        font-size: 50%;
       
    }        
    .producto_titulo{
        line-height: 1;
        font-size: 50%;
    }
    .producto_parrafo{
        line-height: 1;
        font-size: 50%;
    }              
}
}
/*Animaciones Productos inicio*/
@-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  
/*Animaciones Productos fin*/


/*map-get*/

.bd-highlight {
        background-color: map-get($map: $estiloproducto, $key: color);

}

        
